.CollapBtn-container {
    // position: relative;
    // left: 12%;
    position: static;
    width: 888px;
    left: 0px;
    top: 0px;
}

.CollapBtn-content {
    width: 900px;
    height: 56px;
    left: 0px;
    top: 0px;
    text-align: left;
    /* /large body */

    font-family: PingFang HK;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.Seach-Icon {
    width: 50px;
}

.Ulist {
    text-align: left;
    margin-bottom: 15px;
    font-family: PingFang HK;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

.lihead {
    font-family: PingFang HK;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #325AE4;
    display: inline-block;
}

span {
    position: relative;
    width: 40px;
    left: 910px;
    top: -46px !important;
    z-index: 10;
}