.video-cover {
    height: 230px;
    width: 300px;
}

#profession-play {
    width: 80%;
}



#professtion-video-buy {
    padding: 10px 160px;

    width: 384px;
    height: 44px;

    /* primary-蓝 */

    background: #325AE4;
    border-radius: 100px;
}

#professtion-video-simulation {
    padding: 10px 160px;

    width: 384px;
    height: 44px;

    /* primary-蓝 */

    background: #325AE4;
    border-radius: 100px;
}

.profession-video-sketch {
    width: 82%;
}

.profession-video-list {
    height: 800px;
    overflow-y:auto
}