
.fakeui-ui {
    width: 100%;
    z-index: 1;
    border-radius: 35px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.8);
}   

.fakeui-container {
    position: relative;
    width: 300px;
    // height: 100px;
}