.ItemData {

    font-family: PingFang HK;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 250%;
    margin-bottom: 0;
    text-align: left;
}

.HeaderData {

    font-family: PingFang HK;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 250%;
    margin-bottom: 0;
    text-align: left;
    width: 800px;
}

.Droptarget {
    padding-top: 8px;
    margin: 2px;    
    min-width: 100px;
    height: 40px;
    border-bottom:solid blue;
    text-align: 'center'; 
    display:inline-block;
}

.Correcttarget {
    padding-top: 8px;
    margin: 2px;
    min-width: 100px;
    height: 40px;
    border-bottom:solid green;
    text-align: 'center'; 
    display:inline-block;
}


.Falsetarget {
    padding-top: 8px;
    margin: 2px;
    min-width: 100px;
    height: 40px;
    border-bottom:solid red;
    text-align: 'center'; 
    display:inline-block;
}

.DropText {
    font-size: 20px;
}

.ItemFrame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    min-width: 90px;
    margin: 10px;
    height: 50px;
    left: 0px;
    top: 0px;
    /* /large body */

    font-family: PingFang HK;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */

    text-align: center;

    /* 白色 */

    background: #FFFFFF;
    /* /primary - 主色 */

    border: 1px solid #325AE4;
    box-sizing: border-box;
    border-radius: 5px;
}

.MatchHeader {
    font-family: PingFang HK;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
}