.Simulation {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 900px;
  z-index: 1;
}

.main-container {
  position: relative;
  top: 80px;
}

.side-container-240 {
  display: inline-block;
  width:240px;
}

.react-logo {
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.Simulation-sidebar {
  position: absolute;
} */

.Simulation-video {
  margin-left: 10%;
  width: 100%;
}

