.Simulation {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-repeat:no-repeat!important;
  background-size:100% 100%!important;
}

.main-container {
  position: relative;
  top: 80px;
}

.side-container-240 {
  display: inline-block;
  width:240px;
}

.react-logo {
  margin-left: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .react-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* 
.Simulation-sidebar {
  position: absolute;
} */

.Simulation-video {
  margin-left: 10%;
  width: 100%;
}

.PopUpNavList {
  width: 220px;
}

.Simulation-StepNav {
  position: absolute;
  top: 300px
}

.Simulation-swtichBtn-blue {
  width: 110px;
  height: 35px;

  /* primary-蓝 */

  background: #325AE4;

  /* bolded body */

  font-family: PingFang HK;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* white */

  color: #FFFFFF;
  border: none;
}

.Simulation-swtichBtn-grey {
  width: 110px;
  height: 35px;

  /* primary-蓝 */

  background: #C4C4C4;

  /* bolded body */

  font-family: PingFang HK;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* white */

  color: #FFFFFF;
  border: none;
}

.Simulation-switchTitle {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  /* identical to box height, or 150% */


  color: #000000;
}

.SimulationHeader {
  font-family: PingFang HK;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 37px;
}