.StepNav-font-gley {
    /* body */

    font-family: PingFang HK;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* 深灰 */

    color: #797979;
}

.StepNav-font-blue {
    /* body */

    font-family: PingFang HK;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */


    /* primary-蓝 */

    color: #325AE4;
    cursor: pointer;
}

