.Player {
    width: 100%;
    height: 90%;
}


#video-next-btn {
    padding: 10px 160px;    

    /* primary-蓝 */

    background: #325AE4;
    /* dropshadow4 */

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}