.Player {
    width: 67%;//不能超过67，不然弹窗不会显示，此问题暂未找到根源
    // height: 90%;
}


#video-next-btn {
    padding: 10px 160px;    

    /* primary-蓝 */

    background: #325AE4;
    /* dropshadow4 */

    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
}

.video-introduction-title {
    font-family: PingFang HK;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height, or 150% */
  
  
    /* 深灰 */
  
    color: #797979;
  }

  .video-introduction-content {
      /* body */

    font-family: PingFang HK;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    color: #000000;

    width: 67%;
  }

  .video-title {

  }

  .video-stageid {
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 37px;
    /* identical to box height, or 150% */
    
    
    /* primary-蓝 */
    
    color: #325AE4;
  }