.mg-0 {
    margin: 0px;
}

.mg-10 {
    margin: 10px 0;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mg-20 {
    margin: 20px 0;
}

.mt-20 {
    margin-top: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mt-40 {
    margin-top: 40px;
}

.ml-40 {
    margin-left: 40px;
}

.mr-40 {
    margin-right: 40px;
}

.mg-40 {
    margin: 40px 0;
}

.mg-80 {
    margin: 80px 0;
}

.mt-80 {
    margin-top: 80px;
}

.mt-160 {
    margin-top: 160px;
}

.ml-400 {
    margin-left: 400px;
}

.mg-at {
    margin: auto;
}

.ml-at {
    margin-left: auto;
}

.pd-15 {
    padding: 0px 15px;
}

.pd-20 {
    padding: 10px 20px !important;
}

.line-break {
    width: 100%;
  }