//variables
$font-en: 'Play', sans-serif;
$font-zh: 'Noto Sans SC', sans-serif;

$white: #FFFFFF;
$pink: #E35973;
$pink-light: #E5BCC3;
$blue-dark: #325AE4;
$blue-light: #6EDCDC;
$blue-gradient: linear-gradient(to right, $blue-dark, #4e97e0, $blue-light);
$grey: #828282;
$lowestZIndex :-9999;
$lowIndex :-1;
$midZIndex : 0;
$highZIndex : 1;
$highestZIndex : 9999;