@import './_typography.scss';
@import './_variables.scss';
@import './_mixins.scss';
@import './_margins.scss';
@import './_react-datasheet-styles.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~video-react/styles/scss/video-react';
 
.ContestPreview {
  margin: 1em;
  border: 1px solid #ccc;

  .category-name {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee;
  }

  .contest-name {
    padding: 0.5em;
  }
}

.link {
  cursor: pointer;
}

.home-link {
  margin-top: 1em;
  color: #0000ee;
}


// progress bar top


.app-container {
  position: fixed;
  left:50%;
  transform: translate(-50%, 0);
}

.progress-bar-top {
  z-index: 9999;
  padding: 16px 40px;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.12);
}

.fixed-top {
  position: fixed;
  z-index: 1030;
  right: 0;
  left: 0;
}

.bg-white {
  background: $white;
}

.bg-pink {
  background: $pink;
}

.bg-grey {
  background: #F4F7FC;
}

.bg-all {
  opacity: 0.06;
  background: $grey;
}

.bg-light {
  background: #E8EFFC!important;
}

.bg-blue {
  background: $blue-dark;
}

// circle
.circle-blue {
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #000000;
  border-radius: 20px;
  background-color: #dde4ff;
}

.number-circle-blue {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 1.5px;

  background: $blue-dark;
  border: 1px solid $blue-dark;
  color: $white;
  text-align: center;
  align-self: center; 

  font: 14px Play, sans-serif;
  cursor: pointer;
}

.number-circle-grey {
  border-radius: 10px;
  width: 20px;
  height: 20px;
  padding: 1.5px;

  background: #c4c4c4;
  border: 1px solid #c4c4c4;
  color: $white;
  text-align: center;
  align-self: center;

  font: 14px Play, sans-serif;
}

.convo-speaker {
  background: $white;
  border-color:white;

  width: 120px;
  padding: 10px 20px;
  cursor: default;
  border-radius: 50px;
  // box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.12);
  outline: none !important;
  box-shadow: none !important;
  border:none;
  
}



.bd-line {
  border: solid 1px #000000;
}

.btn-right {
  float: right;
}

.btn {
  position: relative;
  padding: 10px 40px;

  font-family: $font-zh;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;

  border-radius: 100px;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  -o-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}


.btn-white {
  background: $white !important;
  color: $blue-dark;
  border-color: #000000;
}

.btn-blue {
  background: $blue-dark;
  color: $white;
  border-color: $blue-dark;

  &:hover {
      background: #A5B3E2;
      color: $white;
      border-color: #A5B3E2;
  }
}

.btn-grey {

  background:  #C4C4C4;;
  color: $white;
  border-color:  #C4C4C4;;

  &:hover {
      background: #C4C4C4;;
      color: $white;
      border-color: #C4C4C4;;
  }
}

.btn-clp {
  width: 888px;
  height: 60px;
  background-color: $white;
  border-color: #c4c4c4;
  border-radius: 50px;
  text-align: left;
}

.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.align-self-center {
  align-self: center;
}


.fake-img {
  border: solid 1px #000000;
  background-color: #DDE4FF;
}

.sel-icon{
  height:50px;
  width:50px !important;
}

.scrollbar {
  overflow: auto!important;
}

.z-index-lowest {
  z-index: $lowestZIndex;
}

.z-index-low {
  z-index: $lowIndex;
}

.z-index-mid {
  z-index: $midZIndex;
}

.z-index-high {
  z-index: $highZIndex;
}

.z-index-highest {
  z-index: $highestZIndex;
}

